<div class='footer'>
  <div class='footer-contents'>
    <div class='ramenpatrol-details'>
      <h2 class='footer-content-head'>RamenPatrolについて</h2>
      <ul>
        <li><%= link_to '運営者概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'RamenPatrol利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='ramenpatrol-details'>
      <h2 class='footer-content-head'>RamenPatrolをする</h2>
      <ul>
        <li><%= link_to 'ラーメン一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '場所一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='ramenpatrol-details'>
      <h2 class='footer-content-head'>RamenPatrolについて</h2>
      <ul>
        <li><%= link_to 'RamenPatrolガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'RamenPatrolロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("logo-title.png", class:"footer-logo"), "#" %>
  <p>© RamenPatrol</p>
</div>