<%= form_with model:@post , local: true do |f|%> 

<%= render 'shared/error_messages', model: f.object %>


  <div class="field">
    <%= f.label :image , "ラーメンの画像" %>
    <span class="indispensable">必須</span><br />
    <%= f.file_field :image, id:"ramen_image" %> 
  </div>
  
  <div class="field">
    <%= f.label :ramen_name , "ラーメンの名称" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :ramen_name, id:"ramen_name" ,class: :text_field%>
  </div>

  <div class="field">
    <%= f.label :shop_name , "店名" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :shop_name, id:"shop_name" ,class: :text_field%>
  </div>

  <div class="field">
    <%= f.label :place , "場所" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :place, id:"place" ,class: :text_field %>
  </div>

  <div class="field">
    <%= f.label :price , "値段" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :price, id:"price",class: :text_field %>円
  </div>

  <div class="field">
    <%= f.label :soup_id , "スープ" %>
    <span class="indispensable">必須</span><br />
    <%= f.collection_select(:soup_id, Soup.all, :id, :name, {}, {class:"select-box", id:"soup"}) %>
  </div>

  <div class="field">
    <%= f.label :noodle_id , "麺の太さ" %>
    <span class="indispensable">必須</span><br />
    <%= f.collection_select(:noodle_id, Noodle.all, :id, :name, {}, {class:"select-box", id:"noodle"}) %>
  </div>


  <div class="field">
    <%= f.label :caption , "キャプション" %><br />
    <%= f.text_area :caption, class: :form__text, id:"caption" %>
  </div>


  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
<% end %>