<div class="content">
    <div class="content_header">
      <div class="user_icon">
        <%= image_tag 'star.png' ,class: :user_img %>
      </div>
      <div class="username">
        <%= link_to "ユーザーネーム" , "#", class: :username %>
      </div>
      <div class="show">
        <%= link_to "#",method: :get do %>
          <%= image_tag 'show-btn.png',class: :show_icon %>
        <% end %>
      </div>
    </div>
    <div class="content_body">
      <%= link_to "#",method: :get do %>
        <%= image_tag 'ramen-sigi.png', class: 'ramen_img' %>
      <% end %>
    </div>
    <div class="content_footer">
      <div class="ramen_info">
        <div class="ramen_content">
          <div class="ramen_name">
            <%= "ラーメンの名前"  %>
          </div>
          <div class="shop_name">
            <%= "店の名前" %>
          </div>
          <div class="place">
            <%= "場所" %>
          </div>
        </div>
        <div class="heart">
          <%= "♡" %> 
        </div>
      </div>
    <p class="show_path">
      <%= link_to "...詳しく見る", "#", class: :show_path_content %>
    </p>
    </div>