<%= render "shared/header" %>

<div class="contents">

  <% @posts.each do |post| %>
    <%= render partial: "posts/ramen", locals: {post: post} %>
  <% end %>
  
</div>
<div class="post-btn">
  <%= link_to new_post_path , class: 'post_btn' do %>
    <span class='post-btn-text'>Go Patrol</span>
    <%= image_tag 'new.png' , size: '185x50' ,class: "post-btn-icon" %>
  <% end %>
</div>

<%= render "shared/footer" %>

